.list-item {
  margin-bottom:40px;
}
.reviewers {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  align-items: center;
  gap: 1rem;
  color:#fff;
  font-size:1.4rem;
}

.author {
  margin-top:1rem;
  text-decoration: underline;
}

.reviews .content {
  display: -webkit-box;
  margin-top:1rem;
  color:#fff;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reviews .content.open {
  -webkit-line-clamp: unset;
}

.date {
  display: block;
  color:#fff;
  font-size:1.2rem;
  margin-top: 1rem;
}

.review_list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.more-btn {
  margin-top:10px;
  border:1px solid #fff;
  color:#fff;
  border-radius:4px;
  padding:2px 4px;
}