.movies-search-list {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 0;
}

.movies-search-list li {
  width:100%;
  aspect-ratio: 2 / 3;
}

.guide {
  width: 100%;
  color: #fff;
  padding-top:100px;
  text-align: center;
}

@media all and (max-width: 1200px) {
  .movies-search-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 768px) {
  .movies-search-list {
    grid-template-columns: repeat(2, 1fr);
  }
}