:root {
  --background-bg: #141414;
  --point-color: #E50000;
  --point-hover-color:#CD0000;
  --gray-color:#999999;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color:var(--background-bg);
}

.content-container {
  padding: 0 2rem;
  padding-bottom: 10rem;
  overflow:hidden;
}

.section-title {
  margin-bottom: 3rem;
  color: #fff;
  font-weight: 700;
  font-size: 3.8rem;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  list-style: none;
  padding: 0;
  color: #fff;
  align-items: center;
}

.page-item {
  color: #fff;
}

.page-link {
  display: block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 6px;
}

.page-link:hover {
  color:#141414;
  background-color: #f5f5f5;
}

.active .page-link {
  background-color: black;
  color: white;
  border-color: black;
}

.disabled .page-link {
  opacity: 0.3;
  cursor: not-allowed;
}

.wrap {
  max-width:120rem;
  margin: 0 auto;
  padding:8rem 2rem;
}

.logo {
  display: block;
  width:100px;
  margin-left:10px;
}

.logo img {
  width:100%;
}


@media all and (max-width: 1200px) {
  .wrap {
    padding:3rem 2rem;
  }

  .section-title {
    margin-bottom: 2rem;
    color: #fff;
    font-weight: 700;
    font-size: 2.8rem;
  }

  .content-container {
    padding-bottom:4rem;
  }
}


@media all and (max-width: 768px) {
  .section-title {
    font-size: 2.2rem;
  }

  .box {
    padding: 2rem !important;
  }
}
